<div class="container mat-elevation-z8">
  <mat-card>
    <form [formGroup]="newGuarantorForm" (ngSubmit)="submit()" mifosxGuarantorFormExtension>
      <mat-card-content>
        <div class="layout-column">
          <div class="layout-row gap-20px">
            <mat-checkbox labelPosition="before" formControlName="existingClient">
              {{ 'labels.inputs.Existing Client' | translate }}
            </mat-checkbox>
            <mat-checkbox labelPosition="before" formControlName="existingGuarantor"> Existing Guarantor </mat-checkbox>
          </div>

          <ng-container *ngIf="!showClientDetailsForm">
            <mat-form-field class="flex-30">
              <mat-label>{{ 'labels.inputs.name' | translate }}</mat-label>
              <input matInput formControlName="name" [matAutocomplete]="clientsAutocomplete" />
              <mat-error *ngIf="newGuarantorForm.controls.name.hasError('required')">
                {{ 'labels.inputs.name' | translate }} {{ 'labels.commons.is' | translate }}
                <strong>{{ 'labels.commons.required' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-autocomplete
              autoActiveFirstOption
              #clientsAutocomplete="matAutocomplete"
              [displayWith]="displayClient"
              (optionSelected)="clientSelected($event.option.value)"
            >
              <mat-option *ngFor="let client of clientsData" [value]="client">
                {{ client.displayName }}
              </mat-option>
            </mat-autocomplete>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Relationship' | translate }}</mat-label>
              <mat-select formControlName="clientRelationshipTypeId">
                <mat-option *ngFor="let relationType of relationTypes" [value]="relationType.id">
                  {{ relationType.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <ng-container *ngIf="accountOptions?.length > 0">
              <mat-form-field>
                <mat-label>{{ 'labels.inputs.Account' | translate }}</mat-label>
                <mat-select formControlName="savingsId">
                  <mat-option *ngFor="let accountOption of accountOptions" [value]="accountOption.id">
                    {{ accountOption.productName }} - {{ accountOption.accountNo }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{ 'labels.inputs.Amount' | translate }}</mat-label>
                <input type="number" matInput required formControlName="amount" />
              </mat-form-field>
            </ng-container>
          </ng-container>

          <!-- Existing Guarantor KYC Selection -->
          <ng-container *ngIf="newGuarantorForm.value.existingGuarantor && showGuarantorKycDetailsForm">
            <mat-form-field class="flex-30">
              <mat-label>Guarantor Name</mat-label>
              <mat-select
                formControlName="guarantorName"
                (selectionChange)="guarantorKycSelected($event.value)"
                [disabled]="isLoadingGuarantorKycs"
              >
                <mat-option *ngIf="isLoadingGuarantorKycs" disabled>
                  <mat-spinner diameter="20" style="display: inline-block; margin-right: 8px"></mat-spinner>
                  Loading guarantors...
                </mat-option>
                <mat-option *ngIf="!isLoadingGuarantorKycs && guarantorKycData.length === 0" disabled>
                  No guarantors found for this client
                </mat-option>
                <mat-option *ngFor="let guarantorKyc of guarantorKycData" [value]="guarantorKyc">
                  <div class="guarantor-option">
                    <div class="guarantor-name">{{ guarantorKyc.fullName }}</div>
                    <div class="guarantor-details">
                      <span class="mobile">{{ guarantorKyc.mobileNumber }}</span>
                      <span class="relationship" *ngIf="guarantorKyc.relationshipToClient">
                        | {{ guarantorKyc.relationshipToClient | relationshipDisplay }}
                      </span>
                    </div>
                  </div>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="newGuarantorForm.controls.guarantorName?.hasError('required')">
                Guarantor Name is <strong>required</strong>
              </mat-error>
              <mat-hint *ngIf="!isLoadingGuarantorKycs">Select from existing guarantors for this client</mat-hint>
              <mat-hint *ngIf="isLoadingGuarantorKycs">Loading guarantor data...</mat-hint>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf="showClientDetailsForm">
            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Relationship' | translate }}</mat-label>
              <mat-select formControlName="clientRelationshipTypeId">
                <mat-option *ngFor="let relationType of relationTypes" [value]="relationType.id">
                  {{ relationType.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.First Name' | translate }}</mat-label>
              <input matInput required formControlName="firstname" />
              <mat-error *ngIf="newGuarantorForm.controls.firstname.hasError('required')">
                {{ 'labels.inputs.First Name' | translate }} {{ 'labels.commons.is' | translate }}
                {{ 'labels.commons.is' | translate }} <strong>{{ 'labels.commons.required' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Last Name' | translate }}</mat-label>
              <input matInput required formControlName="lastname" />
              <mat-error *ngIf="newGuarantorForm.controls.lastname.hasError('required')">
                {{ 'labels.inputs.Last Name' | translate }} {{ 'labels.commons.is' | translate }}
                {{ 'labels.commons.is' | translate }} <strong>{{ 'labels.commons.required' | translate }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field (click)="dobDatePicker.open()">
              <mat-label>{{ 'labels.inputs.Date Of Birth' | translate }}</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dobDatePicker" formControlName="dob" />
              <mat-datepicker-toggle matSuffix [for]="dobDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #dobDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Address Line' | translate }} 1</mat-label>
              <input matInput formControlName="addressLine1" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Address Line' | translate }} 2</mat-label>
              <input matInput formControlName="addressLine2" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.City' | translate }}</mat-label>
              <input matInput formControlName="city" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Zip' | translate }}</mat-label>
              <input matInput formControlName="zip" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Mobile' | translate }}</mat-label>
              <input type="number" matInput formControlName="mobileNumber" />
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Residence Phone' | translate }} #</mat-label>
              <input type="number" matInput formControlName="housePhoneNumber" />
            </mat-form-field>
          </ng-container>
        </div>

        <mat-card-actions class="layout-row align-center gap-5px responsive-column">
          <button type="button" mat-raised-button [routerLink]="['../../general']">
            {{ 'labels.buttons.Cancel' | translate }}
          </button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!newGuarantorForm.valid"
            *mifosxHasPermission="'CREATE_GUARANTOR'"
          >
            {{ 'labels.buttons.Submit' | translate }}
          </button>
        </mat-card-actions>
      </mat-card-content>
    </form>

    <ng-container *ngIf="newGuarantorForm?.controls?.name?.value">
      <div class="mat-table">
        <div class="mat-header-row">
          <div class="mat-header-cell">{{ 'labels.inputs.Client Details' | translate }}</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">{{ 'labels.inputs.name' | translate }}</div>
          <div class="mat-cell">{{ newGuarantorForm.controls.name.value.displayName }}</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">{{ 'labels.inputs.Id' | translate }}</div>
          <div class="mat-cell">{{ newGuarantorForm.controls.name.value.id }}</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">{{ 'labels.inputs.Office' | translate }}</div>
          <div class="mat-cell">{{ newGuarantorForm.controls.name.value.officeName }}</div>
        </div>
      </div>
    </ng-container>

    <!-- Selected Guarantor KYC Details -->
    <ng-container *ngIf="selectedGuarantorKyc">
      <div class="mat-table">
        <div class="mat-header-row">
          <div class="mat-header-cell">Selected Guarantor</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">Full Name</div>
          <div class="mat-cell">{{ selectedGuarantorKyc.fullName }}</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">Mobile Number</div>
          <div class="mat-cell">{{ selectedGuarantorKyc.mobileNumber }}</div>
        </div>
        <div class="mat-row" *ngIf="selectedGuarantorKyc.relationshipToClient">
          <div class="mat-cell">Relationship to Client</div>
          <div class="mat-cell">{{ selectedGuarantorKyc.relationshipToClient | relationshipDisplay }}</div>
        </div>
      </div>
    </ng-container>
  </mat-card>
</div>
